.homepage {
  background: #2D3748;
  height: 100vh;
  padding-top: 65px;

  &__joysticks-stream {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__stream {
      width: 640px;
      height: 360px;
      background: #2e2f32;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;

      &__icon {
        font-size: 60px;
        color: #f0f0f0;
      }
    }
  }

  &__stream--active {
    display: flex;
    flex-direction: column;
  }
}

.video-wrapper {
  width: 640px;
  height: 360px;
  background: #2e2f32;
}
