.command-header {
  display: flex;
  padding: 20px 20px 20px;
  margin-bottom: 40px;
  justify-content: flex-start;
  box-shadow: 0px 5px 18px 0px rgba(14, 14, 14, 0.4);
  align-items: center;
  background: rgba(29, 29, 29, 0.72);

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px 5px 10px;
    width: 60px;
    height: 60px;
    padding: 10px;
    background: #393939;
    box-shadow: 0px 5px 18px 0px rgba(14, 14, 14, 0.4);
    color: #ffffff;
    border-radius: 50px;
    font-size: 30px;

    transition: all 0.4s;

    &:hover {
      background: #2b2b2b;
      cursor: pointer;
      transform: translateY(-2px);
    }
  }

  &__general-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #1d1d1d;
    box-shadow: 0px 5px 18px 0px rgba(14, 14, 14, 0.4);
    border-radius: 10px;
    padding: 10px 20px;
  }

  &__flip-container {
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1d1d1d;
    box-shadow: 0px 5px 18px 0px rgba(14, 14, 14, 0.4);
    border-radius: 10px;
    padding: 10px 20px;

    &__title {
      font-family: 'Roboto', cursive;
      color: #e5e5e5;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bold;
      margin-right: 20px;
    }

    &__item {
      font-family: 'Roboto', cursive;
      color: #ffffff;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px 15px;
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 10px;
      background: #2b2b2b;
      cursor: pointer;


      transition: all 0.4s;

      &:hover {
        background: #2b2b2b;
        cursor: pointer;
        transform: translateY(-2px);
      }
    }
  }

  &__slider-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-left: 50px;

    &__slider-distance {
      width: 250px;
      margin-right: 20px;

      &__desc {
        color: #ffffff;
        margin-bottom: 20px;

        &__value {
          margin-left: 15px;
          background: #322659;
          padding: 5px 10px;
          border-radius: 5px;
          font-weight: bold;
        }
      }
    }

    &__slider-degrees {
      width: 250px;

      &__desc {
        color: #ffffff;
        margin-bottom: 20px;

        &__value {
          margin-left: 15px;
          background: #322659;
          padding: 5px 10px;
          border-radius: 5px;
          font-weight: bold;
        }
      }
    }
  }
}
