.header {
  position: fixed;
  width: 100%;
  background: #322659;
  height: 64px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;


  &--solid {
    background: #322659;
    box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.5);
  }

  &--transparent {
    background: transparent;
  }


  &__logo {
    font-family: 'Staatliches', cursive;
    font-size: 1.8rem;
    color: #ffffff;
    margin-left: 1.5rem;

    transition: font-size 0.15s;
    &:hover {
      font-size: 1.9rem;
    }
  }

  &__auth-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.5rem;

    &__signup {
      margin-left: 20px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    background: #2D3748;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 8px;
    margin-right: 20px;

    transition: all 0.4s;

    &:hover {
      cursor: pointer;
      transform: translateY(-1px);
    }

    &--active {
      background: #2b2b2b;
    }

    &__icon--active {
      color: #f1b505;
    }

    & > span {
      margin-left: 6px;
    }
  }
}
